[Unit]
Description=Rackspace Monitoring Envoy Service
After=network.target
Wants=network-online.target

[Service]
ExecStart=exec chpst -u root telemetry-envoy run --config=/etc/salus/telemetry-envoy.yaml 2>&1
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
